<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="setterMessage" class="it.learning.spring.core.ditypes.Message">
        <property name="message" value="Setter-based message"/>
    </bean>

    <bean id="constructorMessage" class="it.learning.spring.core.ditypes.Message">
        <constructor-arg name="message" value="Constructor-based message" />
    </bean>

    <bean id="indexMessage" class="it.learning.spring.core.ditypes.Message">
        <constructor-arg index="0" value="Constructor-based message (index)" />
    </bean>
</beans>
